@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/BebasNeue-webfont.eot');
    src: url('../fonts/Bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/Bebas/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/Bebas/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-family: 'Bebas', Arial, sans-serif;
}

div#circles {
    background-color: #334d5c;
}
div#circles h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    padding: 12px;
    font-size: 24px;
}

div#statistics {
    background-color: #d6dadb;
    height: 50%;
}
div#statistics div.content {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}
div#statistics div.content div.block {
    padding-top: 20px;
}
div#statistics div.content h2 {
    color: #334d5c;
    font-size: 22px;
}
div#statistics div.content div.total-tweets p.total {
    color: #df5a49;
    font-size: 25px;
}

div.tweet {
    background-color: #00ACEE;
    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
    font-size: 13px;
    padding: 20px;
}
div.tweet img {
    float: left;
    padding-right: 15px;
}
div.tweet div.user {
    padding-top: 10px;
}
div.tweet div.user span.name {
    font-size: 14px;
}
div.tweet p.text {
    padding-top: 10px;
}